<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="res/css/bootstrap.min.css">
		<style>
			.container{
				width: 500px;
				margin: 0 auto;
				padding-top: 100px;
			}
		</style>
	</head>
	<body ng-app='myApp' class="container">
		<div ng-controller='myCtrl'>
			<input type="text" ng-model="name">
			<p ng-bind="name"></p>
			<input type="text" ng-model="age">
			<p ng-bind="age"></p>
			<p>{{ name + " " + age }}</p>
		</div>

		<div ng-controller='parent'>
			<div ng-controller='children'>
				<input type="text" ng-model='person' placeholder='name'>
				<a ng-click='sayHello()'>sayHello</a>
				<p>{{ person }}</p>
			</div>
		</div>

		<div ng-controller='cal'>
			<button class='button' ng-click='add()'>add</button>
			<button class='button' ng-click='sub()'>sub</button>
			<p>{{ num }}</p>
		</div>

		<div ng-controller='req'>
			<button class='button' ng-click='req()'>request</button>
			<p>{{ demo }}</p>
		</div>
		<p><hello></hello></p>

		<script src="res/js/angular.min.js"></script>
		<script src="res/js/app.js"></script>
	</body>
</html>